form.post-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  width: 600px;
  max-width: 80vw;
  padding: 0 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: #ddd 1px solid;
  margin-top: 15px;
}

form.post-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: #ddd 1px solid;
  resize: none;
  font-size: 18px;
}

form.post-form textarea:focus {
  border: deepskyblue 1px solid;
}

form.post-form input[type="submit"] {
  display: block;
  background-color: deepskyblue;
  height: 35px;
  padding: 0 18px;
  border-radius: 20px;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: 5px;
}

form.post-form input[type="submit"]:hover {
  background-color: rgb(92, 214, 255);
}

form.post-form input[type="submit"]:active {
  background-color: rgb(0, 165, 220);
}

@media screen and (max-width: 600px) {
  form.post-form {
    max-width: unset;
    width: 100%;
  }
}
