div.post-lijst {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.post-lijst div.post > div.right {
  flex-grow: 1;
  max-width: calc(100% - 58px);
}

div.post-lijst div.post {
  display: flex;
  align-items: start;
  gap: 10px;
  border-bottom: #ddd 1px solid;
  padding: 0 20px;
  padding-bottom: 5px;
  width: 598px;
  max-width: 80vw;
}

div.post-lijst div.post:last-child {
  border-bottom: none;
}

div.post-lijst div.post img {
  height: 48px;
  border-radius: 50%;
}

div.post-lijst div.post div.auteur {
  font-weight: bold;
}

div.post-lijst div.post div.auteur span.id {
  font-weight: normal;
  opacity: 0.5;
}

div.post-lijst div.post div.body {
  word-wrap: break-word;
  hyphens: auto;
  max-width: 500px;
  overflow: hidden;
  white-space: pre-wrap;
}

div.post-lijst div.actions {
  width: 100%;
  margin-top: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 10px 0;
}

div.post-lijst div.actions div.timestamp {
  opacity: 0.3;
  margin-left: auto;
}

div.post-lijst div.actions a {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.post-lijst div.actions a span.material-icons-round {
  font-size: 20px;
}

div.post-lijst div.actions a.like-button span.material-icons-round {
  color: tomato;
}

div.post-lijst div.actions a.delete-button span.material-icons-round {
  color: deepskyblue;
}

div.post-lijst p.geen {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 75%;
}
div.post-lijst p.geen span.material-icons-round {
  color: orange;
}

div.post-lijst p.geen span.bericht {
  opacity: 0.5;
}

@media screen and (max-width: 500px) {
  div.post-lijst div.actions a.delete-button span:not(.material-icons-round) {
    display: none;
  }

  div.post-lijst div.post {
    max-width: unset;
  }
}
